* {
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
	background-color: #FFFFFF;
}


.main {
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-top: 350px;
}

.sectionOne {
	margin: 0 auto 20px auto;
	width: 90%;
}

.sectionOne__title {
	color: #5f5f5f;
	margin-bottom: 20px;
}

.sectionOne__text {
	margin-top: 20px;
}

.sectionOne__text p {
	color: grey;
}

.sectionOne__text a {
	color: #aaaaaa;
	text-decoration: none;
	font-weight: bold;
}

.sectionOne__text a:hover {
	color: #66cc66;
}

.sectionOne__map {
	width: 100%;
	min-width: 160px;
	max-width: 800px;
}

.sectionOne__div--margin {
	margin: 20px 0 0 0;
}

.sectionOne__list {
	list-style-type: none;
	
}

.sectionOne__list--title {
	color: #5f5f5f;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

.sectionOne__list--adress {
	color: grey;
	font-size: 20px;
}

.sectionTwo {
	background-color: #dadada;
	width: 100%;
	padding: 40px 0 60px 0;
}

.sectionTwo form {
	width: 90%;
	margin: 0 auto;
}

.section__text--button {
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	font-size: 20px;
	color: grey;
	font-weight: bold;
	background-color: transparent;
}

.sectionTwo__title {
	color: #5f5f5f;
	margin: 0 auto 20px auto;
	width: 90%;
}

.sectionTwo input, textarea {
	margin: 20px 20px 20px 0;
}

textarea {
	width: 100%;
	min-width: 160px;

}
.sectionTwo input {
	color: grey;
	font-size: 18px;
	padding: 15px;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}



.green__button {
	color: white;
	background-color: #66cc66;
}

#info {
	color: red;
	font-size: 15px;
}

@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	header {flex-direction: row; justify-content: space-between; padding-left: 68px;}
	.header__nav {width: 50%; flex-direction: row; justify-content: space-around; padding-right: 40px;}
	.main {padding-top: 180px;}

	.sectionOne__title {margin: 0 20px 20px 0;}

	.sectionOne {display: flex; flex-direction: row;}
	.sectionOne__div--margin {margin-top: 70px; margin-left: 0;}

	footer {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
	
}

