* {
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
	background-color: #FFFFFF;
}

header {
	width: 100%;
	background-color: #C0C0C0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 30px 0 0px;
	position: fixed;
}

.header__nav {
	text-align: center;
	display: flex;
	flex-direction: column;	
	font-size: 20px;
}

.header__logo img {
	min-width: 160px; 
	width: 100%; 
	height: 100%;
}

.header__nav div {
	padding: 5px;
}

.header__nav a {
	color: #808080;
	text-decoration: none;
}

.header__nav a:hover {
	color: #66cc66;
}

.main {
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-top: 350px;
	padding-bottom: 50px;
}

.sectionOne {
	width: 90%;
	margin: 0 auto;
}

.sectionOne__div1--margin {
	margin: 15px 0 10px 0px;
}

.sectionOne h2 {
	font-size: 30px;
	color: #878787;
	text-align: left;
	margin-bottom: 10px;
}

.sectionOne p {
	color: grey;
	font-size: 15px;
}

.sectionOne a {
	color: grey;
	text-decoration: none;
	font-size: 20px;
}

.sectionOne a:hover {
	color: #66cc66;
}

.sectionOne__div2 p {
	margin-bottom: 10px;
}

.section__text--button {
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	font-size: 20px;
	color: grey;
	font-weight: bold;
	background-color: transparent;
}

.sectionTwo {
	width: 90%;
	margin: 0 auto;
	color: #878787;
	margin-top: 30px;
}

.sectionTwo h2 {
	font-size: 30px;
	color: #878787;
	text-align: left;
	margin-bottom: 10px;
}

.sectionTwo__div1 p {
	color: #878787;
	font-size: 20px;
	margin-bottom: 20px;
}

.form input {
	margin: 10px 10px 10px 0;
	border-radius: 3px;
	border: 1px solid grey;
	width: 100%;
	color: #878787;
	height: 30px;
	font-size: 15px;
}

.form select {
	width: 70px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid grey;
	color: #878787;
	background-color: transparent;
}

.form__text {
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 35px;
}

textarea {
	width: 100%;
	height: 100%;
}

.sectionTwo__flex {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	justify-content: flex-end;
}

.form__grid {
	display: grid;
	grid-template-columns: 30% 70%;

}

.form__grid div {
	margin: auto 0;
}

footer {
	width: 100%;
	background-color: #a4a4a4;
	color: #FFFFFF;
	height: 140px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	font-size: 16px;
}

.footer__text {
	margin: 10px 10px 10px 30px;
}

.footer__text a {
	text-decoration: none;
	color: grey;
	border-left: 1px solid grey;
	margin-left: 10px;
}

.footer__text a:hover {
	color: #66cc66;
}

.footer__img {
	margin-left: 20px;
}

.footer__img img {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 5px;
}

.green__button {
	color: white;
	background-color: #66cc66;
}

@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	header {flex-direction: row; justify-content: space-between; padding-left: 68px;}
	.header__nav {width: 50%; flex-direction: row; justify-content: space-around; padding-right: 40px;}

	.main {padding-top: 160px; margin-bottom: 50px;}
	.main {display: grid; grid-template-columns: 70% 30%;}

	.sectionOne__div1--margin {margin: 40px 0 20px 20px;}
	.sectionOne__div1--flex {display: flex; flex-direction: row;}

	.sectionTwo {margin-top: 0;}

	footer {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
}

