* {
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
	background-color: #FFFFFF;
}

header {
	width: 100%;
	background-color: #C0C0C0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 30px 0 30px;
	position: fixed;
}

.header__nav {
	text-align: center;
	display: flex;
	flex-direction: column;	
	padding: 20px;
	font-size: 20px;
}

.header__logo img {
	min-width: 160px; 
	width: 100%; 
	height: 100%;
}

.header__nav a {
	color: #808080;
	text-decoration: none;
}

.header__nav a:hover {
	color: #66cc66;
}

.main {
	background-color: #FFFFFF;
	padding-top: 180px;
}

.sectionOne__green {
	background-color: #99ffcc;
}

.sectionTwo__blue {
	background-color: #ADEAEA;
}

.sectionThree__pink {
	background-color: #ffcccc;
}

.section {
	height: 305px;
	width: 370px;
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
}

.section__text {
	height: 305px;
	width: 370px;
	text-align: center;
	color: grey;
}

.section__text--circle {
	font-size: 40px;
	color: grey;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border: 1px solid grey;
	border-radius: 40px;
	margin: 20px auto;
}

.section__text--button {
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	font-size: 20px;
	color: grey;
	font-weight: bold;
	background-color: transparent;
}

.section__a {
	text-decoration: none;
	color: #FFFFFF;
	border-top: 1px dashed #FFFFFF;
	font-size: 20px;
}

.articleOne {
	display: flex;
	flex-wrap: wrap;
}



@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	header {flex-direction: row; justify-content: space-between;}
	.header__nav {width: 50%; flex-direction: row; justify-content: space-around;}
	.articleOne {display: flex; justify-content: space-around;}
}
/*













*/
