* {
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
	background-color: #FFFFFF;
}


.main {
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-top: 350px;
	padding-bottom: 50px;
}

.section__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section__block {
	width: 368px;
	height: 490px;
	background-color: #C0C0C0;
	color: #808080;
	margin: 5px;
}

.section__block--text {
	margin: 15px;
}

.section__block--text h2 {
	margin-bottom: 10px;
	font-size: 20px;
}

.section__block--text p {
	margin-bottom: 10px;
	font-size: 17px;
}

.section__block--text a {
	text-decoration: none;
	color: #808080;
}

.section__text--button {
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	font-size: 20px;
	color: grey;
	font-weight: bold;
	background-color: transparent;
}



.green__button {
	color: white;
	background-color: #66cc66;
}
	




@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	header {flex-direction: row; justify-content: space-between; padding-left: 68px;}
	.header__nav {width: 50%; flex-direction: row; justify-content: space-around; padding-right: 40px;}
	.main {padding-top: 180px;}
	.section__block {margin: 10px;}
	footer {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
}

