* {
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}

.container {
	background-color: #FFFFFF;
}



.main {
	width: 95%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-top: 350px;
	padding-bottom: 50px;
}

.sectionOne {
	color: grey;
	margin: 10px;
}

.sectionOne__title {
	margin: 8px 0 20px 0;
}

.sectionOne__title a {
	text-align: left;
	font-size: 20px;
	text-decoration: none;
	color: #878787;
}

.sectionOne__title a:hover {
	color: #66cc66;
}

.sectionOne__paragraph {
	margin: 20px 0 20px 0;
}

.sectionOne__img {
	width: 100%;
	min-width: 160px;
	max-width: 660px;
}

.table {
	color: grey;
	width: 90%;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

.table a {
	color: grey;
	text-decoration: none;
}

.table img {
	margin: 0 20px 0 5px;
}

.table1 {
	border-bottom: 1px solid #dadada;
	width: 100%;
	border-spacing: 10px;
}

.table2 {
	border-bottom: 1px solid #dadada;
	width: 100%;
	border-spacing: 10px;
}

.table3 {
	width: 100%;
	border-spacing: 10px;
}
.sectionTwo {
	margin: 20px 10px 20px 15px;
}

.sectionTwo__title {
	color: #5f5f5f;
	font-size: 35px; 
	margin-bottom: 15px;
}

.sectionTwo__paragraph a {
	color: #aaaaaa;
	text-decoration: none;
	padding: 10px;
}

.sectionTwo__paragraph a:hover {
	color: #66cc66;
}

.paragraph {
	color: #2e2e2e;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.div {
	margin: 0 10px 10px 10px;
}

.paragraph a {
	color: #2e2e2e;
	text-decoration: none;

}

.paragraph a:hover {
	color: #66cc66;
	text-decoration: none;
}

.paragraph__margin {
	margin-bottom: 20px;
}

.paragraph__text {
	color: grey;
}

.sectionTwo ul {
	margin-bottom: 50px;
}

.flex__text {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.section__text--button {
	padding: 5px 20px 5px 20px;
	margin: 20px 0 10px 0;
	font-size: 20px;
	color: grey;
	font-weight: bold;
	background-color: transparent;
}



.green__button {
	color: white;
	background-color: #66cc66;
}

@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	header {flex-direction: row; justify-content: space-between; padding-left: 68px;}
	.header__nav {width: 50%; flex-direction: row; justify-content: space-around; padding-right: 40px;}

	.main {padding-top: 160px; margin-bottom: 50px;}
	.main {display: flex; flex-direction: row;}
	/*.main {display: grid; grid-template-columns: 60% 40%; grid-gap: 10px;}*/
	.sectionTwo {margin-left: 30px;}

	
	footer {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
}

